h1{
    background-color: beige;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    color: rgb(16, 6, 49);
    text-align: center;
}
.boton{
    background-color: rgb(25, 137, 141);
    height: 50px;
    width: 400px;
    font-size: 30px;
    border-radius: 50px;
    color: rgb(16, 6, 49);
    text-align: center;
    
}
#centrar{
    position: absolute;
    top:  10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#centrarr{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#centrarrr{
    position: absolute;
    top:  65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#centrarr:hover{
    background-color: rgb(250, 126, 250);
    width: 40%;
    font-size: 35px;
    transition: 0.5s;
}
#centrarrr:hover{
    background-color: rgb(250, 126, 250);
    width: 40%;
    font-size: 35px;
    transition: 0.5s;
}
img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: burlywood;
    display: grid;
    align-items: center;
    justify-content: center;
    
}
#instagram{
    border-radius: 50%;
    height: 53px;
    width: 53px;
    background-color: burlywood;
    display: grid;
    align-items: center;
    justify-content: center;
}
a{
    color:rgb(16, 6, 49);
    text-decoration: solid;
}
